* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(229, 248, 255);
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Varela Round", sans-serif;
  /* animation: transitionIn 1.5s; */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* animation: transitionIn 0.75s; */
  /* border: black 1px solid; */
  width: 100%;
}

.board-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: black 1px solid; */
  flex-grow: 4;
  /* height: 100%; */
}

.board {
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);

  /* grid-template-areas: ; */
}

[data-name="sky"] {
  background: lightskyblue;
}
[data-name="cloud"] {
  background: whitesmoke;
}
[data-name="leaves"] {
  background: url("/images/leafs.jpg") no-repeat center center/cover;
}
[data-name="grass"] {
  background: url("/images/grass.jpg") no-repeat center center/cover;
}
[data-name="wood"] {
  background: url("/images/wood.png") no-repeat center center/cover;
}
[data-name="dirt"] {
  background: url("/images/ground.jpg") no-repeat center center/cover;
}
[data-name="stone"] {
  background: url("/images/stone.jpg") no-repeat center center/cover;
}
[data-name="sun"] {
  background: yellow;
}

.side-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: rgb(151, 226, 255);
}
.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(129, 198, 255);
  margin: 0 2rem;
}
.tool {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tool:hover {
  background: white;
}

.pickaxeTool {
  width: 80px;
  height: 100px;
}

.pickaxeTool div {
  background: url("/images/pickaxe.png") no-repeat center center/contain;
  height: 40px;
  margin-bottom: 0.5rem;
}

.pickaxeTool p {
  font-weight: bold;
}

.shovelTool {
  width: 80px;
  height: 100px;
}
.shovelTool div {
  background: url("/images/shoval.jpg") no-repeat center center/contain;
  height: 50px;
  margin-bottom: 0.5rem;
}

.shovelTool p {
  font-weight: bold;
}

.AxeTool {
  width: 80px;
  height: 100px;
}
.AxeTool div {
  background: url("/images/axe.png") no-repeat center center/contain;
  height: 50px;
  margin-bottom: 0.5rem;
}

.AxeTool {
  font-weight: bold;
}

.reset-btn {
  margin: 1rem 0;
  padding: 0.3rem;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 10px;
}

.reset-btn:hover {
  background: rgb(0, 191, 6);
  color: whitesmoke;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .side-bar {
    flex-direction: row;
    border: none;
    background: none;
    align-items: flex-start;
  }
  .tools {
    flex-direction: row;
    margin-top: 1rem;
    width: 500px;
  }
  .tool {
    margin: 1rem;
  }
  .pickaxeTool div {
    height: 60px;
  }
  .AxeTool div {
    height: 70px;
  }
  .shovelTool div {
    height: 70px;
  }
  .board {
    width: 500px;
    height: 500px;
    margin-top: 1rem;
  }

  .reset-btn {
    margin-right: 0.5rem;
    padding: 1rem;
    font-size: 20px;
  }
}
