* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgb(229, 248, 255), lightskyblue);

  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Varela Round", sans-serif;
  /* animation: transitionIn 1.5s; */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* animation: transitionIn 0.75s; */
  /* border: black 1px solid; */
  width: 100%;
  /* animation: transitionIn 2.5s; */
}
/* @keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
  }
} */

.board-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: black 1px solid; */
  flex-grow: 4;

  /* height: 100%; */
}

.board {
  width: 100vmin;
  height: 100vmin;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(25, 1fr);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* grid-template-areas: ; */
}

[data-name="sky"] {
  background: lightskyblue;
}
[data-name="cloud"] {
  background: whitesmoke;
}
[data-name="leaves"] {
  background: url("/images/leafs.jpg") no-repeat center center/cover;
}
[data-name="grass"] {
  background: url("/images/grass.jpg") no-repeat center center/cover;
}
[data-name="wood"] {
  background: url("/images/wood.png") no-repeat center center/cover;
}
[data-name="dirt"] {
  background: url("/images/ground.jpg") no-repeat center center/cover;
}
[data-name="stone"] {
  background: url("/images/stone.jpg") no-repeat center center/cover;
}
[data-name="sun"] {
  background: yellow;
}

.side-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 180px;
  flex-grow: 1;
  background: linear-gradient(rgb(229, 248, 255), lightskyblue);
}
.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: rgb(92, 244, 255); */
  /* margin: 0 2rem; */
  height: 100vmin;
  /* max-width: 500px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.tool {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;

  /* border: 3px solid rgb(92, 244, 255); */
}

.tool:hover {
  background: white;
  cursor: pointer;
}

.pickaxeTool {
  width: 80px;
  height: 100px;
}

.pickaxeTool div {
  background: url("/images/pickaxe.png") no-repeat center center/contain;
  height: 40px;
  margin-bottom: 0.5rem;
}

.tools p {
  font-weight: bold;
}

.shovelTool {
  width: 80px;
  height: 100px;
}
.shovelTool div {
  background: url("/images/shoval.jpg") no-repeat center center/contain;
  height: 50px;
  margin-bottom: 0.5rem;
}

.axeTool {
  width: 80px;
  height: 100px;
}
.axeTool div {
  background: url("/images/axe.png") no-repeat center center/contain;
  height: 50px;
  margin-bottom: 0.5rem;
}

.storages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-btn {
  margin: 1rem 0;
  padding: 0.3rem;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 10px;
}
.storage,
.storage2,
.storage3,
.storage4 {
  width: 25px;
  height: 25px;
  border: 2px solid white;
  margin-top: 0.5rem;
}

.storage:hover {
  cursor: pointer;
  border: 2px solid rgb(94, 169, 255);
}

.reset-btn:hover {
  background: rgb(39, 98, 102);
  color: whitesmoke;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: 100vh;
  }
  .side-bar {
    flex-direction: row;
    border: none;
    background: none;
    align-items: flex-start;
  }
  .tools {
    flex-direction: row;
    margin-top: 1rem;
    max-width: 400px;
    height: 22vmin;
    box-shadow: none;
    flex-wrap: wrap;
  }
  /* .tool {
    margin: 1rem;
  } */
  .pickaxeTool div {
    height: 50px;
  }
  .axeTool div {
    height: 60px;
  }
  .shovelTool div {
    height: 60px;
  }

  .board {
    max-width: 450px;
    max-height: 450px;
    margin-top: 1rem;
    box-shadow: none;
  }

  .reset-btn {
    margin-right: 0.5rem;
    margin-left: 0.8rem;
    padding: 1rem;
    font-size: 18px;
  }
  .storages {
    flex-direction: row;
  }
}

/* for functionality */
[data-is-active="false"] {
  /* visibility: hidden; */
  background: lightskyblue;
}

.tile {
  border: 0px solid white;
}

.tile:hover {
  border: 1px solid rgb(194, 231, 253);
}

.alarm {
  border: 1px solid red;
}

.alarm2 {
  background-color: red;
}
